@model IEnumerable<ShoppingCart.Application.ViewModels.ProductViewModel>
<h2>ShoppingCart</h2>

<div class="container">
    <div class="row">



        @if (Model != null)
        {
            @await Html.PartialAsync("ViewShoppingCartPartial", Model)
        }
        else
        {
            @await Html.PartialAsync("ViewShoppingCartEmptyPartial")
        }

    </div>
</div>