@model IEnumerable<ShoppingCart.Application.ViewModels.ProductViewModel>


@{ ViewData["Title"] = "Index"; }

<h1>Products Catalogue</h1>

<div class="container">

    @await Html.PartialAsync("SearchPartial")

</div>





<div class="container">
    <div class="row">

        @await Html.PartialAsync("ViewProductsPartial", Model)
    </div>
</div>



