@model IEnumerable<ShoppingCart.Application.ViewModels.ProductViewModel>


@{ ViewData["Title"] = "Index"; }

<h1 style="text-align:center">Products Catalogue</h1>

<div class="container">
    <h3 style="text-align:center" class="text-black-50">Categories</h3>
    <div class="d-flex justify-content-center">
        @await Html.PartialAsync("SearchCategoryPartial")
    </div>
</div>





<div class="container">
    <div class="row mt-3">

        @await Html.PartialAsync("ViewProductsPartial", Model)
    </div>
</div>


