@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger text-center">Error</h1>


<h3>An Error Occured!</h3>
<p>
    Please contact us and reference the following :<code>@if (Model.ShowRequestId){@Model.RequestId}</code>
</p>
<p>
   Thank you!
</p>
