
<form class="form-inline" method="post" action="/Products/Search" style="width: inherit">
    <div class="form-group mx-sm-3"style="width: 100%;">
        <input type="text" class="form-control" placeholder="Search items here" name="keyword" style="width: 80%">
        <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
    </div>
    
</form>