@model IEnumerable<ShoppingCart.Application.ViewModels.ProductViewModel>

@{ 
    int page = ViewBag.Page;
    
}

@foreach (var p in Model)
{
<div class="col-6">
    <div class="d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <div class="img-holder mt-3">
                <a href="/Products/Details?id=@p.Id">
                    <img src="@p.ImageUrl" class="image" alt="...">
                </a>
            </div>

            <div class="card-body">

                <h5 class="card-title">@p.Name</h5>
                <p class="card-text">@p.Price €</p>
                <p class="card-text text-black-50">

                    @{
                        int lenghtOnCard = 90;
                        string descriptionOnCard;
                        if (p.Description.Length > lenghtOnCard)
                        {
                            descriptionOnCard = p.Description.Substring(0, lenghtOnCard - 3) + "...";
                        }
                        else
                        {
                            descriptionOnCard = p.Description;
                        }
                    }
                    @descriptionOnCard
                </p>
                <div class="d-flex justify-content-center">
                    <a href="/ShoppingCart/AddToCart?id=@p.Id&page=@(page) " class="btn btn-success"><i class="fas fa-shopping-cart"></i> Add to cart</a>
                </div>

                @if (User.IsInRole("Admin"))
                {
                    <div class="d-flex justify-content-center mt-3">

                        <a href="/Products/Disable?id=@p.Id&page=@(page)" class="btn btn-secondary button-hidden">Disable</a>
                    </div>
                }



                @*@if (User.IsInRole("Admin"))
        {
        <a href="/Products/Delete?id=@p.Id" class="btn btn-danger">Delete</a>}*@

            </div>
        </div>
    </div>
</div>
                        }
@if (Model.Count() == 0)
{
<div class="col-12">
    <div class="d-flex justify-content-center">
        <h5 class="text-black-50">No products meet the search criteria, please try again!</h5>
    </div>
</div>
    
}
<!--The script tag is used to retain the position of the page after the controller has been used-->
<!--Reference: https://stackoverflow.com/questions/17642872/refresh-page-and-keep-scroll-position-->
<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        var scrollpos = sessionStorage.getItem('scrollpos');
        if (scrollpos) {
            window.scrollTo(0, scrollpos);
            sessionStorage.removeItem('scrollpos');
        }
    });

    window.addEventListener("beforeunload", function (e) {
        sessionStorage.setItem('scrollpos', window.scrollY);
    });

</script>