<div class="container">
    <div class="row"><h5 class="text-black-50">The shopping cart is currently empty</h5></div>
    <div class="row"><p class="text-black-50">Please, feel free to add anything to the shopping cart</p></div>
</div>


